**/.git
**/.gitignore
**/node_modules
**/.next
**/out
**/build
**/coverage
**/.env
**/.env.*
!**/.env.example
**/.DS_Store
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/*.pem
**/*.tsbuildinfo
**/.vercel
**/README.md
**/LICENSE
**/Dockerfile
**/Containerfile
**/compose.yaml
**/k8s
**/.dockerignore
**/.containerignore
**/.claude
**/.goose
**/.agents
**/.github
**/skills-lock.json
