# URL of the forkit-site backend (no trailing slash)
NEXT_PUBLIC_API_URL=http://localhost:3000

# Solana
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SOLANA_NETWORK=devnet

# Smart contract program IDs
NEXT_PUBLIC_ESCROW_PROGRAM_ID=FNZXjjq2oceq15jVsnHT8gYJQUZ9NLCXCpYak2pXsqGB
NEXT_PUBLIC_REGISTRY_PROGRAM_ID=2riHMdVB6eFgeQjqvnqq2Mrpqea7hrMv5ZNRh7gZgB9S
NEXT_PUBLIC_LOYALTY_PROGRAM_ID=6DaFmi7haz2Ci9sXaHRviz3biwbmTwipvwc9L9cdeugR
